* {
    box-sizing: border-box;
  }
  body {
    background-color: white;
  }
  
  .header {
    background-color: #008000;
    background-image: url("black-scales.jpeg");
    color: white;
    padding: 15px;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #008000;
    background-image: url("black-scales.jpeg");
    color: white;
    text-align: center;
 }
  
  .column {
    float: left;
    padding: 15px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .menu {
    width: 25%;
  }
  
  .content {
    width: 75%;
    text-align: left;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #78E183;
    color: #ffffff;
  }
  
  .menu li:hover {
    background-color: #218126;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
